<h1>Form</h1>

<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <form id='form' class='medium-6 columns' action="/meetups/new" method="post">
      <label>Name
        <input type="text" name='name' required/>
      </label>
      <label>Location
        <input type="text" name='location' required/>
      </label>
      <label>Description
        <input type="text" name='description' required/>
      </label>
      <input type='submit' value="Submit"></input>
    </form>
  </div>
</div>
